html
    head
        title SERVER
    body
        h1 Index
        
        p Pagina inicial do meu servidor

        a(href="/register") Registrar-se
        br
        a(href="/contact") Contato
        br
        a(href="/profile/sapo") Perfil