html
    head
        title SERVER
        link(rel="stylesheet", href="style.css")
    body
        h1 Contact

        p Pagina para entrar em contato

        p Meu Email: #{email}
        p Meu Telefone: #{tel}